::ng-deep {
    .mat-toolbar {
        background-color: #38b25a !important;
    }
    .mat-drawer-inner-container {
        width: 200px !important;
    }
}

header {
    z-index: 99;
}

.top-header {
    background-color: #38b25a;
    padding: 25px 0px 25px 0px;
    position: fixed;
    width: 100%;
    .home {
        background-color: white;
        padding: 8px;
        cursor: pointer;
    }
    .header-links {
        color: white;
        font-size: 14px;
        font-weight: 200;
        font-style: normal;
        white-space: nowrap;
        cursor: pointer;
    }
    .login {
        background-color: #fadc00;
        padding: 8px;
        cursor: pointer;
    }
}
